p {color:rgb(255, 0, 0);
    width: 500px;
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #9c0505;
}
 .akim {
    text-align:center;
    transition: all 1s;
 }   
 .akim:hover{
    background-color : blue;
}